<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lilly Beauty Boutique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="Eyelash Waxing Consultant" />
    <meta name="author" content="" />

    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link href="~/Content/LillyContent/animate.css" rel="stylesheet" />
    <!-- Icomoon Icon Fonts-->
    <link href="~/Content/LillyContent/icomoon.css" rel="stylesheet" />
    <!-- Bootstrap  -->
    <link href="~/Content/LillyContent/bootstrap.css" rel="stylesheet" />
    <!-- Theme style  -->
    <link href="~/Content/LillyContent/style.css" rel="stylesheet" />
    <style>
        .portfolioFilter {
            padding: 15px 0;
        }

            .portfolioFilter a {
                margin-right: 6px;
                color: #666;
                text-decoration: none;
                border: 1px solid #ccc;
                padding: 4px 15px;
                border-radius: 50px;
                display: inline-block;
            }

                .portfolioFilter a.current {
                    background: #1e1e1e;
                    border: 1px solid #1e1e1e;
                    color: #f9f9f9;
                }

        .portfolioContainer {
            border: 1px solid #eee;
            border-radius: 3px;
        }

        img {
            margin: 5px;
            max-width: 100%;
        }

        .isotope-item {
            z-index: 2;
        }

        .isotope-hidden.isotope-item {
            pointer-events: none;
            z-index: 1;
        }

        .isotope,
        .isotope .isotope-item {
            /* change duration value to whatever you like */
            -webkit-transition-duration: 0.8s;
            -moz-transition-duration: 0.8s;
            transition-duration: 0.8s;
        }

        .isotope {
            -webkit-transition-property: height, width;
            -moz-transition-property: height, width;
            transition-property: height, width;
        }

            .isotope .isotope-item {
                -webkit-transition-property: -webkit-transform, opacity;
                -moz-transition-property: -moz-transform, opacity;
                transition-property: transform, opacity;
            }
    </style>
    <!-- Modernizr JS -->
    <script src="~/Scripts/LillyScripts/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>

    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="lilly-loader"></div>

    <div id="page">
        <nav class="lilly-nav" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="left-menu text-right menu-1">
                        <ul>
                            <li><a href="work.html">Sevices</a></li>
                            <li><a href="about.html">Story</a></li>

                        </ul>
                    </div>
                    <div class="logo text-center">
                        <div id="lilly-logo"><a href="index.html"></a></div>
                    </div>
                    <div class="right-menu text-left menu-1">
                        <ul>
                            <li><a href="blog.html">Gallery</a></li>
                            @if (Session["Account"] != null)
                            {
                                <li class="has-dropdown">
                                    <a href="#">Hi ! @Session["Account"] </a>
                                    <ul class="dropdown">
                                        <li><a href="#">Account</a></li>
                                        <li><a href="#">Record</a></li>
                                        <li><a href="#">Logout</a></li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="has-dropdown">
                                    <a href="#">Member </a>
                                    <ul class="dropdown">
                                        <li><a href="#">Register</a></li>
                                    </ul>
                                </li>
                            }

                            <!-- <li class="btn-cta"><a href="#"><span>Login</span></a></li> -->
                        </ul>
                    </div>
                </div>

            </div>
        </nav>

        <div>
            @RenderBody()
        </div>
        <footer id="lilly-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    @*<div class="col-md-2 col-sm-4 col-xs-6">
                            <ul class="lilly-footer-links">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Meetups</a></li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <ul class="lilly-footer-links">
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Handbook</a></li>
                                <li><a href="#">Held Desk</a></li>
                            </ul>
                        </div>*@
                    <div class="col-md-4 col-sm-12 col-xs-12 lilly-widget col-md-push-1">
                        <h3>A Little About Lilly</h3>
                        <p>Lilly beauty addreesssss:  </p>
                        <p><a href="#">link</a></p>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; Teddy</small>
                            <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">Lilly Beauty</a> Demo Images: <a href="http://unsplash.com/" target="_blank">texttext</a></small>
                        </p>
                        <p>
                            <ul class="lilly-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="glyphicon-arrow-up"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Scripts/LillyScripts/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Scripts/LillyScripts/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/LillyScripts/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Scripts/LillyScripts/jquery.waypoints.min.js"></script>
    <!-- Main -->
    <script src="~/Scripts/LillyScripts/main.js"></script>
    <!--Isotope-->
    <script src="~/Scripts/LillyScripts/isotope.js"></script>
    <script>
        $(window).load(function () {
            var $container = $('.portfolioContainer');
            $container.isotope({
                filter: '*',
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
            });

            $('.portfolioFilter a').click(function () {
                $('.portfolioFilter .current').removeClass('current');
                $(this).addClass('current');

                var selector = $(this).attr('data-filter');
                $container.isotope({
                    filter: selector,
                    animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    }
                });
                return false;
            });
        });
    </script>
</body>
</html>
